@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Outfit:wght@100..900&display=swap');
:root {
  /** Primary colors */
  --primary: #068DA9;
  --highlight: #19A7CE;
  --bright-white: #FFFFFF;
  --cool-black: #101820;
}
body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
