@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@font-face {
  font-family: 'SignPainter';
  src: local('SignPainterHouseScript.ttf'), url(./fonts/SignPainterHouseScript.ttf) format('truetype');
}
:root {
  /** Primary colors */
  --primary: #068DA9;
  --highlight: #19A7CE;
  --bright-white: #FFFFFF;
  --cool-black: #101820;
}
body {
  margin: 0;
  background-color: #EEF5DB;
}
